body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
  text-transform: none;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*common*/
.team-title,
.portfolio-title,
.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-subtitle,
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/*header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(43, 44, 63, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  padding-left: 0;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  display: block;
  padding: 16px 0;
}
.menu-btn {
  padding: 0;
  background-color: transparent;
}
.menu-btn-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    content: "";
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover::after,
  .nav-link:focus::after {
    transform: translateX(0);
  }
  .nav-link.current::after {
    background-color: #404bbf;
    transform: translateX(0);
  }
  .contacts {
    display: block;
    font-style: normal;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .contacts-link {
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    line-height: 1.15;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}
/*solutions-section*/
.solutions-section {
  background-color: #2e2f42;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bg-mobile.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 72px 0;

  @media screen and (min-resolution: 2x) {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-mobile-2x.jpg);
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px auto;
}
.button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .solutions-section {
    padding: 112px 0;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-tablet.jpg);

    @media screen and (min-resolution: 2x) {
      background-image:
        linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet-2x.jpg);
    }
  }

  .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }
}

@media screen and (min-width: 1158px) {
  .solutions-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-desktop.jpg);

    @media screen and (min-resolution: 2x) {
      background-image:
        linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-desktop-2x.jpg);
    }
  }

  .title {
    margin: 0 auto 48px auto;
  }
}

/*features-section*/

.features-section {
  padding: 96px 0;
}
.features-container {
  display: none;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}
.features-item {
  width: 100%;
}
.features-subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .features-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }
  .features-container {
    display: flex;
    background-color: #f4f4fd;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    padding: 24px 100px;
  }
  .features-list {
    display: flex;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/*team-section*/
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  min-width: 162px;
  text-align: center;
  margin: 0 auto 72px auto;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
  padding: 0 12px;
}
.team-item {
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-container {
  padding: 32px 16px;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-icon {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.team-item-icon {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
    padding: 0 92px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    gap: 24px;
    padding: 0;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}
/*portfolio-section*/

.portfolio-section {
  padding: 96px 0;
}

.portfolio-title {
  text-align: center;
  min-width: 218px;
  margin: 0 auto 72px auto;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 48px;
}
.portfolio-item {
  width: 100%;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-overlay {
  display: block;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px 164px 32px;
}
.text-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
}
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/*footer*/
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
/*first footer container*/
.footer-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer-logo {
  text-align: center;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*second container*/
.footer-social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.footer-item-icon {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/*third container*/
.footer-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-input {
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  height: 40px;
  width: 288px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  align-self: start;
  color: #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-input:focus,
.form-input:hover {
  border: 1px solid #31d0aa;
}

.footer-submit-btn {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}
.footer-submit-btn:hover,
.footer-submit-btn:focus {
  background-color: #31d0aa;
}
@media screen and (min-width: 768px) {
  .footer-container {
    padding: 0 92px;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer-text-container,
  .footer-social-container,
  .footer-form-container,
  .footer-form-container {
    align-items: flex-start;
  }
  .footer-form {
    gap: 24px;
  }
  .form-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-container {
    padding: 0;
    column-gap: 0;
    row-gap: 0;
  }
  .footer-text-container {
    margin-right: 120px;
  }
  .footer-form-container {
    margin-left: auto;
  }
}
/*mobile menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
  background-color: #fff;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 40px;
  height: 100%;
}

.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.close-menu-btn:hover,
.close-menu-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border-color: #404bbf;
}

.nav-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.nav-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-link.current,
.menu-contacts-link.current {
  color: #404bbf;
}
.nav-menu-link:hover,
.nav-menu-link:focus,
.menu-contacts-link:hover,
.menu-contacts-link:focus {
  color: #404bbf;
}
.menu-contacts-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
  margin-top: auto;
}
.menu-contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}
.menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.menu-item-icon {
  width: 40px;
  height: 40px;
}
.menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 0;
  background-color: #4d5ae5;
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*modal*/
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border-color: #404bbf;
}

.form-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  max-width: 256px;
}
.modal-filed {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-label-wrapper {
  position: relative;
}
.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover,
.modal-textarea:focus,
.modal-textarea:hover {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-form-icon,
.modal-input:hover + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-text-filed {
  margin-bottom: 16px;
}

/*checkbox*/

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.checkbox-link {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  background-color: transparent;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-input:checked + .checkbox-label .checkbox-icon {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
}
.checkbox-wrapper {
  max-width: 231px;
  text-align: start;
}
.checkbox-text {
  white-space: nowrap;
}

.checkbox-container {
  margin-bottom: 24px;
}
.modal-submit-btn {
  display: block;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
  .form-text {
    max-width: 360px;
  }
  .checkbox-wrapper {
    max-width: 338px;
  }
  .checkbox-text {
    white-space: normal;
  }
}
